.avatar{
  height: 100px;
  width: 100px;
}

.overzichtspagina{
  background-image: url('https://maken.wikiwijs.nl/bestanden/524465/vraag3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.context{
  
}

.context > h2{
  font-size: medium;
}