.avatar{
  height: 200px;
  width: 200px;
}

.overzichtspagina{
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
  justify-content: space-evenly;
  align-content: space-around;
}

article{
  position: relative;
  width: 10rem;
  height: 10rem;
  padding: 100px;
  color: slate;
  text-align: center;
}

.context > h2{
  font-size: medium;
}

.titel{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}