.avatar{
  height: 50px;
  width: 50px;
}

.overzichtspagina{
  background-image: url('https://maken.wikiwijs.nl/bestanden/524465/vraag3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 700px;
  margin: auto;
}

.context{
  
}

.context > h2{
  font-size: small;
}

.titel{
  text-align: center;
  margin-bottom: 50px;
}